# Homework 1

For this homework, we are going to work with [Seoul Bike Sharing Demand dataset](https://archive.ics.uci.edu/ml/datasets/Seoul+Bike+Sharing+Demand) from UCI. 

**The homework is due Sunday, October 9 midnight.**

# Task 1

First, download the dataset. 
Read the dataset using ***pandas.read_csv*** function and make preliminary analysis on dataframe.
Our aim in this homework is to *predict Rented Bike count*. 
You can generate your own inputs using the given features if you want. 
After making analysis, split your data into ***Train*** and ***Test sets***.

# Task 2

Apply a ***Linear Regression*** model. First, try to construct your model without scaling your data. Then, construct another model with scaled inputs. Calculate performance evaluation metrics ***(RMSE, MSE, R-squared)*** for each model.

# Task 3

Explain the calculated evaluation metrics and compare your results model you trained in previous task.
If you have any suggestions for alternative methods to improve model performance, explain them.

# Notes

**1.** You must document each step of your tasks: what are you doing, why are you doing it, what problems you encountered and how you solved it. All of these must be explained and documented. **Solutions without sufficient documentations will be penalized accordingly. 50% of your points will come from your code, while the other 50% will come from your explanations.**

**2.** You can use MS Excel to inspect the files, but loading them up to python using pandas and inspecting them there under jupyter is easier.

**3.** In Task 2, you must split your data into a train and test set, and then evaluate the performance of your model on the test set.

**4.**  **Jupyter:** https://jupyter.org/   ,  **Google Colab:** https://colab.research.google.com/  ,  **Anaconda:** https://www.anaconda.com/products/distribution

# Homework 1 Answers

## Task 1

#### Preliminary analysis:
Our data consists mostly of numerical values, while also having three columns that contain categorical data: two of which (_"Holiday"_ column and _"Functioning Day"_ column) are binary categories and one is multi-categorical (_"Seasons"_ column). One can, by just looking at the table, see that there exists a strong correlation between Seasons/Temperature and the Rented Bike Count.

First, we import `urlopen` library to open our url online.

In [71]:
from urllib.request import urlopen
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00560/SeoulBikeData.csv"

Then we convert our categorical data to numerical data, that is, the binary-categorical-data to 0 and 1, and multi-categorical data to 1, 2, 3, 4 (Winter: 1, Spring: 2, Summer: 3, Autumn: 4). We then get rid of the "Date" column, since it is of no use.

In [117]:
with urlopen(url) as f:
    new_df = pd.read_csv(url, encoding = "unicode_escape")

for i in range(new_df.shape[0]):
    if new_df["Holiday"][i] == "No Holiday":
        new_df.at[i, "Holiday"] = 0
    else:
        new_df.at[i, "Holiday"] = 1
    
    if new_df["Seasons"][i] == "Winter":
        new_df.at[i, "Seasons"] = 1
    elif new_df["Seasons"][i] == "Spring":
        new_df.at[i, "Seasons"] = 3
    elif new_df["Seasons"][i] == "Summer":
        new_df.at[i, "Seasons"] = 4
    else:
        new_df.at[i, "Seasons"] = 2
    
    if new_df["Functioning Day"][i] == "Yes":
        new_df.at[i, "Functioning Day"] = 1
    else:
        new_df.at[i, "Functioning Day"] = 0
new_df.drop(columns = "Date")

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,1,0,1
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,1,0,1
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,1,0,1
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,1,0,1
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,2,0,1
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,2,0,1
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,2,0,1
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,2,0,1
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,2,0,1

Then we split the data into train and test sets, with a train/test ratio of 0.75/0.25. The sets are created randomly with `pandas`' `sample` function.

In [118]:
training_data = new_df.sample(frac = 0.75, random_state = 31)
testing_data = new_df.drop(training_data.index)
testing_data

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.00,0.0,0.0,1,0,1
13,01/12/2017,451,13,2.4,25,1.6,2000,-15.6,1.16,0.0,0.0,1,0,1
18,01/12/2017,862,18,0.6,66,1.4,2000,-5.0,0.00,0.0,0.0,1,0,1
21,01/12/2017,405,21,-0.8,81,0.8,1687,-3.6,0.00,0.0,0.0,1,0,1
23,01/12/2017,323,23,-1.3,84,1.0,1265,-3.6,0.00,0.0,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8744,30/11/2018,1527,8,-1.5,68,1.1,1286,-6.6,0.02,0.0,0.0,2,0,1
8746,30/11/2018,554,10,1.9,51,0.8,1029,-7.1,1.01,0.0,0.0,2,0,1
8751,30/11/2018,768,15,7.0,20,3.3,1994,-14.4,1.21,0.0,0.0,2,0,1
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.00,0.0,0.0,2,0,1
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.00,0.0,0.0,2,0,1

In [119]:
new_df["Functioning Day"].mean() + new_df["Holiday"].mean()

1.0156392694063927

In [90]:
from sklearn import linear_model


X = new_df[["Hour", "Temperature(°C)", "Humidity(%)", "Wind speed (m/s)", "Visibility (10m)", "Dew point temperature(°C)", "Solar Radiation (MJ/m2)", "Rainfall(mm)", "Snowfall (cm)", "Seasons", "Holiday","Functioning Day"]]
y = new_df["Rented Bike Count"]

lm = linear_model.LinearRegression()
lm.fit(X, y)

LinearRegression()

In [131]:
T = new_df[["Hour", "Temperature(°C)", "Rainfall(mm)", "Snowfall (cm)", "Seasons","Functioning Day"]]
p = new_df["Rented Bike Count"]

lm.fit(T, p)

lm.predict([[12, 12.882922374429233, 0, 1.484 , 1, 1]])

C:\Users\hkilic\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([735.92502075])

In [103]:
twelve = new_df[new_df["Hour"] == 12]
twelve
twh = twelve[twelve["Temperature(°C)"]>24]
twh = twh[twh["Temperature(°C)"]<26]

## Task 2

In [110]:
twh[twh["Seasons"] == 2]["Rented Bike Count"].mean()

1106.0

In [129]:
new_df[new_df["Snowfall (cm)"] >0]["Snowfall (cm)"].mean()
tmp_mean = new_df["Temperature(°C)"].mean()
new_df[new_df["Snowfall (cm)"] >0]["Snowfall (cm)"].mean()
new_df[new_df["Snowfall (cm)"] >0]["Snowfall (cm)"].mean()
new_df[new_df["Snowfall (cm)"] >0]["Snowfall (cm)"].mean()

1.4844243792325036

In [132]:
tmp_mean

12.882922374429233

## Task 3